.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input + label {
  pointer-events: none;

  * {
      pointer-events: all;
  }
}

.input-field label,
.input-field input:focus + label,
.input-field input[type=text]:not(.browser-default):focus:not([readonly]) + label,
.input-field input[type=email]:not(.browser-default):focus:not([readonly]) + label,
.input-field input[type=password]:not(.browser-default):focus:not([readonly]) + label {
    color: #32b3ef;
}

.input-field input[type=text]:not(.browser-default):focus:not([readonly]),
.input-field input[type=email]:not(.browser-default):focus:not([readonly]),
.input-field input[type=password]:not(.browser-default):focus:not([readonly]),
.input-field input.valid[type=text]:not(.browser-default),
.input-field input.valid[type=email]:not(.browser-default),
.input-field input.valid[type=password]:not(.browser-default) {
    border-bottom: 1px solid #32b3ef;
    box-shadow: 0 1px 0 0 #32b3ef;
}
